{% extends 'home.html.twig' %}

{% block main %}

    {# je créé mon formulaire avec la fonction twig form et la variable
        contenant la vue de mon formulaire
    #}

    {{ form_start(articleFormView) }}

    <div class="title-form-article">
        {{ form_errors(articleFormView.title) }}
        {{ form_label(articleFormView.title, 'Titre', {'label_attr': {'class': 'test'}}) }}
        {{ form_widget(articleFormView.title, {'attr': {'class': 'test'}}) }}
    </div>

    <div class="content-form-article">
        {{ form_errors(articleFormView.content) }}
        {{ form_label(articleFormView.content, 'Contenu', {'label_attr': {'class': 'test'}}) }}
        {{ form_widget(articleFormView.content, {'attr': {'class': 'test'}}) }}
    </div>

    <div class="createdat-form-article">
        {{ form_errors(articleFormView.createdAt) }}
        {{ form_label(articleFormView.createdAt, 'Date de création', {'label_attr': {'class': 'test'}}) }}
        {{ form_widget(articleFormView.createdAt, {'attr': {'class': 'test'}}) }}
    </div>

    <div class="submit-form-article">
        {{ form_widget(articleFormView.submit, {'attr': {'class': 'test'}}) }}
    </div>

    {{ form_end(articleFormView) }}

{% endblock %}